html,body{
    width: 100%;
    /* height: 100%; */
}
*{
    padding: 0;
    margin: 0;
}
html,body{
    font-size: 100px;
}
#app{
    margin: 50px 0;
    font-size: 0.14rem;
}
ul {
    list-style: none;
}
i,b{
    font-weight: normal;
    font-style: normal;
}